body {
    text-align: center;
    background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;
    color: #ffffff;
}

.hidden {
    display: none;
}

.title {
    display: flex;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 140px;
}

.which-type {
    display: flex;
    flex-direction: column;
    font-size: 29px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.container {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    margin: 0 auto;
    width: 650px;
    color: black;
}

.radio-buttons-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.radio-button {
    display: flex;
    font-style: italic;
    font-size: 20px;

    input[type='radio'] {
        transform: scale(2);
    }

    text-indent: 20px;
}

.submit-button-container {
    padding: 5px;
    display: flex;
    justify-content: center;
}

#receive-msg-button {
    color: white;
    font-size: 18px;
    background-color: #134d71;
    border-radius: 4px;
    padding: 5px 30px;
}

.svg-img {}

.svg-img img {
    width: 100%;
}


.receive-msg-container {
    margin-top: 100px;
    width: 825px;
    padding: 50px 0;
}

#message {
    font-size: 24px;

}


#remove-msg {
    color: #134d71;
}